# environment files
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# gas report
gas-report.txt

# solidity-coverage files
/coverage
/coverage.json
